<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Voice communications analytics demo</title>
        <script src="./js/jquery-3.1.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="./css/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="./css/main.css">
    </head>
    <body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="/" class="navbar-brand"><b>About Voice Communications</b> ANALYTICS</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="javascript: window.history.back()">Back</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://www.ringcentral.com" target="_blank">Powered by&nbsp;<img alt="Brand" src="img/ringcentral.png" height="20"></a></li>
          </ul>
        </div>
      </nav>
      <section id='content'>
        <body>
          <h1>RingCentral call recordings and voicemails analytics</h1>
          <div>
          <p>
            This demo Web application allows you access your RingCentral account, read call recordings and voicemail messages. The audio content
            will be transcribed then the transcript will be saved to a local database together with the call's metadata such as the date, the caller's
            and the callee's numbers.</br>
          </p>
          <p>
            Call recording and voicemail transcript will be analyzed and transformed from an unstructured content into a structured data using applied machine learning for data analitics from IBM Watson, Google Cloud Platform and Haven Ondemand. Each call recording and voicemail will be also automatically categorized.
          </p>
          </p>
            Demo main features:
          </p>
            <ol>
              <li>Transcribe speech-to-text from call recordings and voicemail</li>
              <li>Allow users to search for a word or phrase from calls' transcripts.</li>
              <li>Allow users to search for calls from keywords, from number, to number, extension number and category.</li>
              <li>Play an audio content with stylish synchronized transcript.</li>
              <li>Enable users to interact with the audio content from the transcript by clicking on any word from the text to fast-forward or fast-backward to the selected word.</li>
              <li>Enable instant search for a word from the transcript and fast-forward to that spoken word in the audio content</li>
              <li>Highlight positive and negative human opinions in the speech.</li>
              <li>Highlight key concepts and allow users to easily navigate to related information from Wikipedia and online news channels.</li>
              <li>Browse and see summaries of famous people, famous places and famous companies mentioned in the transcript.</li>
              <li>Extract actionable items from the speech.</li>
            </ol>
            <p>
            Technologies:
            <ul>
              <li>RingCentral Platform</li>
              <li>IMB Watson</li>
              <li>Google Cloud Platform</li>
              <li>Haven Ondemand platform</li>
          </ul>
            </p>
          </div>
        </body>
      </section>
    </body>
</html>
