<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Voice communications analytics demo</title>

        <script src="./js/jquery-3.1.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="./css/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="./css/main.css">
        <script>
          window.RC_AUTHORIZE_URI= '<%- authorize_uri %>'
          window.RC_APP_REDIRECT_URL= '<%- redirect_uri %>'
        </script>
        <script src="./js/login.js"></script>
    </head>
    <body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="/" class="navbar-brand"><b>Voice Communications</b> ANALYTICS</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/about">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://www.ringcentral.com" target="_blank">Powered by&nbsp;<img alt="Brand" src="img/ringcentral.png" height="20"></a></li>
          </ul>
        </div>
      </nav>
      <section id='content' style='margin-left:200px'>
        <div class="row">
          <h1>Please login your RingCentral Account</h1></br></br>
          <div class="form-inline">
            <button class='btn btn-rc' id="loginBtn" onclick="login()">Login</button>
            <img src='./img/logging.gif' id="logginIcon" style='width:40px;height:40px;display: none'></img>
          </br>
        </div>
      </div>
      </br></br>
      <div class="row" style="width:500px">
        <p>
          <b>Important!</b> You need to enable pop-up for this web site in order to login your RingCentral via this Web app.
          After logged in successfully, if the pop-up window is not automatically dismissed,
          you can manually close the pop-up window and reload the page.</br>
        </p>
      </div>
      </section>
    </body>
</html>
